[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
dataclasses = {version = "==0.8", markers = "python_version < '3.7'"}

[dev-packages]
flake8 = "~=3.9.2"
pylint = "~=2.8.2"
mypy = "~=0.812"

isort = "~=5.8.0"
black = "==21.5b1"
autopep8 = "~=1.5.7"

pytest = "~=6.2.4"
pytest-cov = "~=2.12.0"

# Required by pytest, but not properly pulled in by Pipenv
importlib-metadata = {version = ">=0.12", markers = "python_version < '3.8'"}
zipp = {version = ">=0.5", markers = "python_version < '3.8'"}
