[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
dataclasses = {version = "==0.8", markers = "python_version < '3.7'"}

[dev-packages]
flake8 = "~=4.0.1"
pylint = "~=2.11.1"
mypy = "~=0.910"

isort = "~=5.9.3"
black = "==21.9b0"
autopep8 = "~=1.5.7"

pytest = "~=6.2.5"
pytest-cov = "~=3.0.0"

# Required by pytest, but not properly pulled in by Pipenv
importlib-metadata = {version = ">=0.12", markers = "python_version < '3.8'"}
zipp = {version = ">=0.5", markers = "python_version < '3.8'"}
# Not properly pulled in either
typing-extensions = ">=3.10.0"
