[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]

[dev-packages]
flake8 = "~=3.9.1"
pylint = "~=2.7.4"
mypy = "~=0.812"

isort = "~=5.8.0"
black = "==20.8b1"
autopep8 = "~=1.5.6"

pytest = "~=6.2.3"
pytest-cov = "~=2.11.1"

# Required by pytest, but not properly pulled in by Pipenv
importlib-metadata = {version = ">=0.12", markers = "python_version < '3.8'"}
zipp = {version = ">=0.5", markers = "python_version < '3.8'"}
